html {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-stroke: 0.10px;
    height: 100%;
    display: none;
}

code {
    font-family: monaco !important;
}

hr {
    margin: 12px 0px 12px 0px;
}

label {
    color: #666;
    font-size: 14px;
    font-weight: 600;
}

button {
    outline: none !important;
}

/*li, a, p, input, select, div {*/
	/*font-family: "Source Sans Pro";*/
/*}*/
li, a, p, input, select, div, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans";
}

.text-muted {
    font-size: 13px;
}

.user-invite-list {
    padding: 5px 0px 5px 0px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.user-invite-list>li {
    margin-top: 8px;
}

.user-invite-list li:nth-child(1) {
    margin-top: 0;
}

.user-invite-list li i {
    cursor: pointer;
    display: flex;
    height: 45px;
    align-items: center;
}

.user-invite-list:empty {
    display: none;
}

.spinner {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    align-items: center;
    display: none;
    margin-top: 9px;
}

#organization-nav, #help-tabs {
    border-bottom: 1px solid #e5e5e5;
}

#organization-nav>li>a:first-child, #help-tabs>li>a:first-child {
    background-color: #ffffff !important;
}

#organization-nav>li>a, #help-tabs>li>a {
    color: #555 !important;
    font-size: 13px;
}

#organization-nav li.active, #help-tabs li.active {
    border-bottom: 2px solid #4a8bee;
    font-weight: 600;
}

#organization-nav li.active a, #help-tabs li.active a {
    color: #000;
}

#organization-nav li.active .badge {
    color: #fff !important;
    background-color: #777 !important;
}

#member-list-item {
    margin-bottom: 15px;
}

a:hover {
    text-decoration: none;
}

.separator::after {
    content: '/';
}

.following-button:hover {
    background-color: #e81c4f !important;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15)) !important;
    border: 1px solid #1da1f2 !important;
    color: #fff;
}

.following-button {
    margin-top: 10px;
    font-weight: 600;
    background-color: #1da1f2;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.05));
    border: 1px solid #3b88c3;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
}

.edit-page-con {
    margin-top: 15px;
}

.wiki-nav-con li a {
    font-weight: 400;
    color: #555;
}

.wiki-nav-con li a:hover, .wiki-nav-con li a:active{
    background-color: #555;
    color: #fff;
    border-radius: 4px 4px 0px 0px;
}

.wiki-nav-con ul.dropdown-menu a:hover {
    border-radius: 0px;
}

.selectize-input input {
    min-width: 50% !important;
}

/** ====================
 * Lista de Comentarios
 =======================*/

.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}

.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}

.comments-list {
    padding-left: 0px;
    position: relative;
}

.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list .comment-head ul {
    margin-top: 8px;
}

.comments-list .comment-head ul li {
    display: inline-block;
    margin-bottom: 0;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    border-radius: 0 0 4px 4px;
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}

.comments-list .comment-box:before {
    border-width: 10px 12px 10px 0;
    border-color: transparent #ccc;
    left: -12px;
}

.comment-box .comment-head, .comment-box .comment-foot {
    background: #FCFCFC;
    padding: 10px 12px;
    /*border-bottom: 1px solid #E5E5E5;*/
    border: 1px solid #ccc;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head p {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 12px;
    font-weight: 600;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head ul li a {
    cursor: pointer;
    color: #555;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-content h1, .comment-box .comment-content h2, .comment-box .comment-content h3, .comment-box .comment-content h4, .comment-box .comment-content h5, .comment-box .comment-content h6 {
    margin: 0;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    border: 1px solid #ccc;
    border-top: 0px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 390px;
    }

    .reply-list .comment-box {
        width: 320px;
    }
}

.page-head ul li a i {
    color: #fff;
}

.fancytree-container {
    border: none !important;
    outline: none !important;
}

.fancytree-treefocus span.fancytree-selected span.fancytree-title,
.fancytree-treefocus span.fancytree-active span.fancytree-title {
  color: #000 !important;
  outline: none !important;
}

.count {
    color: #ccc;
    background: #555;
}

.sidebar-nav .count {
    float: right;
    border-radius: 5px;
    padding: 0px 9px;
}

.navbar-nav>.open>a {
    background: #f8f8f8 !important;
}

.dropdown-menu>li>a {
    color: #555;
    font-size: 14px;
    font-weight: normal;
}

.profile-img{
    margin-top: -5px;
    margin-right: 5px !important;
    float: left;
    background: url(../images/default.png) 50% 50% no-repeat;
    background-size: auto 100%;
    width: 30px;
    height: 30px;
}

.stats span {
    margin-right: 15px;
}

.panel-title {
    font-size: 15px;
}

.dropdown-menu:before {
   position: absolute;
   top: -7px;
   left: 9px;
   display: inline-block;
   border-right: 7px solid transparent;
   border-bottom: 7px solid #CCC;
   border-left: 7px solid transparent;
   border-bottom-color: rgba(0, 0, 0, 0.2);
   content: '';
 }

.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
  }

.dropdown-menu:before, .dropdown-menu.pull-right:before {
    right: 8px;
    left: auto;
}

.dropdown-menu::after, .dropdown-menu.pull-right:after {
    right: 9px;
    left: auto;
}

a#manage-wiki-dropdown {
   border: none;
   outline: none;
   text-decoration: none;
}

span.fancytree-active {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 3px 0px 3px 0px;
    display: flex;
    align-items: center;
}

.fancytree-container {
    padding: 0 !important;
}

span.fancytree-active span.fancytree-title {
    background: none !important;
}

.fancytree-node {
    display: flex !important;
    align-items: center !important;
}

.rte-autocomplete:before {
    right: unset;
    left: 9px;
}

.rte-autocomplete:after {
    right: unset;
    left: 10px;
}

.comment-input-con:before {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    top: 8px;
    border-color: transparent #c0c0c0;
    left: 3px;
}

.comment-input-con:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #fbfcf7;
    top: 8px;
    left: 4px;
}

ul.comments-list li:last-child {
    margin-bottom: 0px;
}

ul.comments-list {
    margin-bottom: 0px;
}

kbd {
    padding: 3px 8px 3px 8px !important;
    color: #333;
    background: #fff url(/images/key_bg.png) repeat-x scroll 0 100%;
    border: 1px solid #ddd;
    -moz-border-radius: .166em;
    -webkit-border-radius: .166em;
    border-radius: .166em;
    display: inline-block;
    font-family: Arial,FreeSans,Helvetica,sans-serif;
    padding: 0 6px;
    text-align: center;
}

.count-with-arrow .count {
    background-color: #fafafa;
    border-color: #dcdcdc;
    color: #313236;
    display: inline-block;
    background: white;
    border-radius: 0px 3px 3px 0px;
    border-width: 1px;
    border-style: solid;
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    padding: 6px 16px;
    letter-spacing: .4px;
    padding: 10px 12px 9px 12px;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    white-space: nowrap;
    border-left: 0px;
}

.syntaxhighlighter { 
    overflow-y: hidden !important; 
    overflow-x: auto !important; 
    margin-top: 0px !important;
}

span.fancytree-focused span.fancytree-title {
    outline: none !important;
}

.search {
  position: fixed;
    top: 50px;
    left: 20px;
    right: 20px;
    background: #fff;
    z-index: 100;
}

.main-wrapper {
    box-shadow: -0px 0px 15px #ababab;
    min-height: 100%;
    overflow: auto;
}

.navbar-default .navbar-toggle:hover {
    background-color: #f8f8f8 !important;
}

.syntaxhighlighter::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
    background-color: rgba(0,0,0,0);
    -webkit-border-radius: 100px;
}
.syntaxhighlighter::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}
.syntaxhighlighter::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.5);
    -webkit-border-radius: 100px;
}
.syntaxhighlighter::-webkit-scrollbar-thumb:active {
    background: rgba(0,0,0,0.61); / Some darker color when you click it */
    -webkit-border-radius: 100px;
}

#pin-sidebar {
    transition: all 0.3s ease;
}

.activity a {
    color: #333;
    font-weight: 600;
}

.activity p {
    color: #5c5c5c;
}

.dim-input {
    background-color: #fafafa !important;
}

.dim-input:focus {
    background-color: #fff !important;
}

#delete-account {
    color: #911;
}

#delete-account:hover {
    color: #fff !important;
    background-color: #911 !important;
    background-image: linear-gradient(#ec5757, #c71616) !important;
    border-color: #911 !important;
}

button .loader {
    float: right;
    padding-top: 2px;
}

.dot-divider::after {
    content: "\00B7";
    padding: 0 6px;
    font-weight: bold;
}

ul.activity-list li:hover {
    background-color: #f5f5f5;
}

.pagination {
    margin: 0 !important;
}

