p, h1, h2, h3, h4, h5, h6 {
	color: #555;
}

#remove-wiki {
    top: 4px;
    display: none;
    position: relative;
}

#wiki-list li a:hover #remove-wiki {
    display: block;
}

.tooltip-inner {
    max-width: none;
    white-space: nowrap;
}

a {
    text-decoration: none !important;
}

.tree {
	padding-left: 15px;
}

#tree-con>li>ul {
    display: none;
}

#tree-con a {
	cursor: pointer;
    /*font-size: 15px;
    color: #555555 !important;
    font-weight: 500;*/
}

.tree a i {
    padding-right: 5px;
}

.tree li.active > :first-child {
    font-weight: 600;
    color: #555;
}

#wiki-page-options>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #555;
}

#wiki-page-options>li>a:hover {
    background-color: #fff;
}